@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('./assets/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('./assets/fonts/Roboto-Medium.ttf');
	font-weight: 500;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Mono', sans-serif;
	background-color: rgb(65, 62, 59);
	color: white;
	font-size: 1em;
}

.header {
	max-width: 50vw;
	margin: 0 auto;
	margin-top: 10vh;
}

.bayan_container {
	max-width: 50vw;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0.5rem 0.5rem 1rem black;
}

.bayan_container__btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow_btn {
	width: 1vw;
	height: 2vh;
	filter: invert(100%);
	margin-right: 0.9rem;
	transition: all 0.4s;
}

.item_img {
	width: 0;
	height: 0;
	transition: all 0.4s;
}

h1 {
	text-align: start;
	text-shadow: 0.5rem 0.5rem 1rem black;
}

.bayan_container__title {
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(37, 37, 37);
	transition: all 0.4s;
}

.bayan_container__item {
	background-color: rgb(228, 222, 222);
}

.bayan_container__btn {
	background-color: rgb(25, 121, 97);
	padding: 0.7rem;
}

.label_img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bayan__input:checked~label .item_img,
.bayan_container__item:focus .item_img {
	width: 50%;
	height: 50%;
	padding: 0.8rem 0;
}

.bayan__input:checked~label .arrow_btn {
	transform: rotate(-180deg);
}

.bayan__input:checked~label .bayan_container__title {
	color: white;
	text-shadow: 0.05rem 0.05rem 0.1rem black;
}

.bayan_container__item:active .bayan_container__btn .bayan_container__title {
	color: gray;
}

.bayan_container__item:active .item_img {
	filter: brightness(50%);
}

.bayan_container__item:active .arrow_btn {
	filter: invert(50%);
}

.bayan_container__item:active {
	background-color: rgb(179, 173, 173);
}

.bayan_container__item,
.bayan_container__btn,
.item_img,
.label_img {
	cursor: pointer;
}

@media (hover: hover) {
	.bayan_container__item:hover .item_img {
		width: 50%;
		height: 50%;
		padding: 0.8rem 0;
	}

	.bayan_container:hover .arrow_btn {
		background: url('./assets/svg/xmark-solid.svg') center/cover no-repeat;
	}

	.bayan_container__item:hover .arrow_btn {
		transform: rotate(-180deg);
	}

	.bayan_container:hover .bayan_container__title {
		color: white;
		text-shadow: 0.05rem 0.05rem 0.1rem black;
	}
}

@media (hover: none) {
	.arrow_btn {
		background: url('./assets/svg/xmark-solid.svg') center/cover no-repeat;
	}
}